<table id = "content">
    <tr>
        <td id = "filtersPane">
            <div id = "inner">
                <div onclick="RefreshResults(false);">Search</div>
                
                <ul id = "filters">
                    
                    <li>
                        <div class = "filterHandle" title="Toggle on/off"></div>
                        <label for="folder1"><input type="checkbox" id = "folder1" name="checkFolder">Folder1</label>
                        <label for="folder2"><input type="checkbox" id = "folder2" name="checkFolder">Folder2</label>
                        <label for="folder3"><input type="checkbox" id = "folder3" name="checkFolder">Folder3</label>
                        
                    </li>
                    <li>
                        <div class = "filterHandle" title="Toggle on/off"></div>
                        <label id="amount">Desired Salary:<span></span></label>
                        <div id="desiredSalary"></div>
                    </li>
                    
                    <li>
                        <div class = "filterHandle" title="Toggle on/off"></div>
                        <div class = "autocompleteContainer">
                            <label for="addJobTitle">Worked as: </label><br>
                            <input size="15" id="addJobTitle">
                        </div>
                        <div id = "activatedJobTitles" class="selectionBox">
                        </div>
                    </li>
                    
                    <li>
                        <div class = "filterHandle" title="Toggle on/off"></div>
                        <label id="amount">Years of Experience:<span></span></label>
                        <div id="yearsOfExperience"></div>
                    </li>
                    <li>
                        <div class = "filterHandle" title="Toggle on/off"></div>
                        <div class = "autocompleteContainer">
                            <label for="addSkill">Skills: </label><br>
                            <input size="15" id="addSkill">
                        </div>
                        <div id = "activatedSkills" class="selectionBox">
                        </div>
                    </li>
                    <li>
                        <div class = "filterHandle" title="Toggle on/off"></div>
                        <div class = "autocompleteContainer">
                            <label for="addCourse">Course: </label><br>
                            <input size="15" id="addCourse">
                        </div>
                        <div id = "activatedCourses" class="selectionBox">
                        </div>
                    </li>
                    
                    
                </ul>
            </div>
        </td>
        
        <td id = "resultsPane">
            <div id = "overFlow">
                
                
                
            </div>
            <div id = "filterOptions">
                <select id = "selectBatchFolder">
                    
                </select>
                <button onclick="SetBatchFolder()">Apply to all</button>
            </div>
        </td>
    </tr>
</table>