<head>
    <link rel="stylesheet" type="text/css" href ="styles.css">
    
</head>

<table id = "content" class="cp" cellspacing = "20px" >          
    <tr>
        <td id = "profilePane">
            <ul id = "profileTabs">
                <li id = "1">Contact Info</li>
                <li id = "2">Details</li>
                <li id = "3">Experience</li>
                <li id = "4">Education</li>
                <li id = "5">Resume</li>
                <li id = "6">Tests</li>
                <li id = "7">Notes</li>
            </ul>
            
            <table id = "profileContent">
                <tr>
                    <td id = "profilePictureTd" rowspan="5"><img width = "100px" height="100px"></td>
                    <td id = "profileDescriptionCol"> Name: </td>
                    <td id = "profileValuesCol"> <input type="text"/ value="Mark Louie" disabled> </td>
                </tr>
                <tr>
                    <td> Last Name: </td>
                    <td id = "profileValuesCol"> <input type="text"/ value="Almeda" disabled></td>
                </tr>
                <tr>
                    <td> Email: </td>
                    <td id = "profileValuesCol"> <input type="text"/ value="mlb.almeda@gmail.com" disabled></td>
                </tr>
                <tr>
                    <td> Folder: </td>
                    <td id = "profileValuesCol"> Short List  </td>
                </tr>
                <tr></tr>
                <tr><td colspan="3"><hr></td></tr>
                
                <tr>
                    <td colspan="3">
                        <div id = "profileContents"> </div>
                    </td>
                
                </tr>
                
            </table>   
                
            
            
            <div id = "profileEditButton" onclick="ToggleEdit();">Edit</div>
            
        </td>
        
        <td id = "foldersPane">
            <table cellspacing = "0">
                <tr height = "15px">
                    <td id = foldersHeader>Folders</td>
                </tr>
                
                <tr>
                    <td>
                        <ul>
                            <li>Cool
                                <ul>
                                    <li>Yeah</li>
                                    <li>Boom</li>                    
                                    <li>Yeah</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>