hr{
    border: 1px solid #66b5ef !important;
    outline: none !important;
    border-radius: 2px;
}

.cp{
    height: 100%;
/*    border:1px solid red;*/
    border-spacing: 20px;
    width: 100%;
}

.cp #profilePane {
    position:relative;
    width:60%;
    height:100%;
    vertical-align:text-top;
    background-color: #eaeaea;
}

.cp #profilePaneTable {
    display: table;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    height: 101%;
    width: 100%;
}

.cp #profilePane {
    position:relative;
/*    width:auto;*/
    height:100%;
    vertical-align:text-top;
    
/*
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
*/
}

.cp>div{
    display: table-cell;
    height: 100%;

}


.cp #profilePane, .cp #foldersPane{
    background-color: #eaeaea;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0px 0px 5px black;
    vertical-align:text-top;
    position: relative;
}

.cp #profilePane #profileTabs{
    top:-1px;
    left: -1px;
    position:relative;
    padding:0px;
    padding-top: 20px;
/*    padding-right: 20px;*/
    margin:0px;
    width:20%;
    height:101%;
    display:table-cell;
    background: -webkit-linear-gradient(#2a2a2a,#1c1c1c);
/*    height:inherit;*/
    color:white;
/*    border: 1px solid red;*/
    text-align:center;
    -webkit-user-select:none;
}

.cp #foldersPane #foldersHeader{
    
    top:0px;
    position:absolute;
    padding:6px 10px;
    text-align: left;
    width: 100%;
    height: 20px;
    background: -webkit-linear-gradient(#2a2a2a,#222);
    color: white;
    cursor: default;
    
}

.cp #foldersPane #foldersHeader #add{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: 0s;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    cursor: hand;
    border: 1px solid rgba(255,255,255,0);
}
.cp #foldersPane #foldersHeader #add:hover{
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0px 0px 1px black;
}


.cp #foldersPane #foldersHeader #search{
    display: inline-block;
    width: 100px;
    position: absolute;
    right: 30px;
    text-align: right;
}

.cp #foldersPane #folders{
    top: 32px;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
/*    border: 1px solid red;*/
}

.cp #foldersPane #folders li.active{
    background-color: #66b5ef;
    padding-left: 5px;
}

.cp #foldersPane #folders li .delete{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    position: absolute;
    line-height: 13px;
    
    right: 6px;
    top: 4px;
    color: #A00;
    
/*
    top: -100px;
    right: 100px;
*/
    background-color: transparent;
    text-align: center;
    border-radius: 2px;
    overflow-x: hidden;
}

.cp #foldersPane #folders li .delete:hover{
    color: black;
    background-color: #A00;
}

.cp #foldersPane #folders>li>div>span{
    color: black;
    background-color: #66b5ef;
    padding: 0px 5px;
    font-size: 0.8em;
    border-radius: 2px;
}

.cp #foldersPane *{
    padding: 0px;
    margin: 0px;
    width: 100%;
    transition: 0s all, margin 0.2s, padding 0.2s;
}

.cp #foldersPane li{
    list-style: none;
/*    width: 100%;*/
    cursor: pointer;
    cursor: hand;
    overflow-x: hidden;
}

.cp #foldersPane #folders>li:hover div{
/*    background-color: blue;*/
/*    margin-left: -10px;*/
    padding-left: 5px;
}

.cp #foldersPane #folders>li>div{
    position: relative;
    padding-left: 15px;
/*    background:-webkit-linear-gradient(#66b5ef,#3978cb );*/
/*    background: -webkit-linear-gradient(#2a2a2a,#222);*/
    background-color: #2a2a2a;
/*    border-radius: 3px 3px 0px 0px;*/
    color: white;
    -webkit-user-select:none;   
/*    display: inline-block;*/
/*    width: auto;*/
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid black;
}

.cp #foldersPane #folders>li ul{
    transition: 0.5s;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cp #foldersPane #folders>li.hidden ul{
/*    height: 0px;*/
    overflow-x: hidden;
    max-height: 0px;
}

.cp #foldersPane #folders>li{
/*    padding-left: 15px;*/
/*    position: relative;*/
    
}

.cp #foldersPane .group li{
    padding-left: 30px;
    position: relative;
/*    margin-left: 15px;*/
}

.cp #foldersPane .group li:hover{
    background-color: #add1eb;
    padding-left: 5px;
}


.cp #profileTabs li {
    margin:auto;
/*    padding:10px 10px;*/
/*    padding:0px;*/
    clear: right;
    float:right;
/*    height:100%;*/
    list-style:none;
    padding:5px 0px;
    padding-left: 10px;
    padding-right: 20px;
    color:white;
    width: auto;
    font-size:1em;
    cursor:pointer;
    cursor:hand;
    display: block;
    text-align: right;
    border-radius: 5px 0px 0px 5px;
}


.cp #profileTabs li:hover{
/*    border-bottom: 2px solid #00a2ff;   */
    color:black;
    padding-right: 5px;
    padding-left: 10px;
    background-color: rgba(255,255,255,0.5);
}


.cp #profileTabs li.selected {
/*    border-bottom: 2px solid #00a2ff;   */
    color:#181c2f;
    font-size: 1.2em;
    box-shadow: -3px 0px 4px rgba(0,0,0,0.5);
    background-color: #eaeaea;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.cp #profileTabs{
    display:block;
}


.cp #foldersPane {
    padding:0px;
    margin:0px;
    width:30%;
    height:100%;
    vertical-align:text-top;
}



.cp #foldersPane>table{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    top:-4px;
    position:relative;
}

.cp #profileContentContainer{
    display: table-cell;
    width: 80%;
    height: 100%;
    
}

.cp #profileContentContainer>div{
    display: block;
    height: 100%;
/*    position: relative;*/
    padding: 10px;
}

.cp #profileContent {
/*    margin:20px;*/
    display:inline-block;
    position:absolute;
/*    border: 1px solid red;*/
    width:75%;   
    height:100%;
    border-collapse: collapse;
	border-spacing: 0;
    
}

.cp #profileContent>*>* {
    margin: 0;
	padding: 0;
	border: 0;
}




.cp #profilePictureTd{
    width:100px;
    height:100px;
    padding:10px;
}

#profileValuesCol {
    width:70%;
}

#profileDescriptionCol {
    width:20%;
}

.cp #profileContent input, .cp #profileContent textarea {
    width:auto;
    margin:0px;
    padding:0px;
/*    display:block;*/
    height:100%;
    font-size:1em;
    resize:none;
    
    outline: none !important;
    border: none !important;
    background-color: #d3d3d3;
    border-radius: 3px;
    margin: 3px;
}

.cp #profileContent textarea
{
    width:100%;
}

.cp #profileContent textarea:disabled{
/*    box-shadow:inset 0px 1px 4px #c3c3c3;*/
/*    border: 1px solid light-gray;*/
    border:none;
    color:black;
    width:100%;
    background-color:transparent;

}

.cp #profileContent input:disabled {
    background-color:transparent;
    color:black;
    box-shadow:none;
    border:none;
}


.cp #phoneList div {
    padding-left:40px;
}

.cp #phoneList{
    width:100%;   
}
.cp #phoneList input {

    display:inline-block;
}

.cp #addressList div {
    padding-left:40px;
}

.cp textarea {
    width:100%;
/*    background-color:red;*/
    display:block;
}

.cp #actions {
    position:absolute;
    bottom:17px;
    right:17px;
}

.cp #actions>div{
    display: inline-block;
    float: left;
    transition:0.2s;
    -webkit-user-select:none;
    width:auto;
    font-size: 0.9em;
    height:auto;
    padding:5px 10px;
/*    border-radius:2px;*/
    box-shadow:0px 0px 2px black;
    background: -webkit-linear-gradient(#2a2a2a,#1c1c1c);
    color:white;
    cursor:pointer;
    cursor:hand;
}

.cp #newButton {
    border-radius: 0px 2px 2px 0px;
}

.cp #profileEditButton {
    border-radius: 2px 0px 0px 2px;
}

.cp #profileContents {
    display:block;
    width:100%;
    height:auto;
    max-height: 350px;
    overflow-y: scroll;
}

.cp #AddressList {
    padding-left:40px;
}

.cp #profileContents .info {
    width:69%;
/*    border:1px solid red;*/
    display:inline-block;
}

.cp #profileContents .disc {
    width:30%;
/*    border:1px solid red;*/
    display:inline-block;
}

.cp span.label{
    background-color: #66b5ef;
    padding: 0px 5px;
    border-radius: 3px;
    font-size: 0.9em;
    margin: 0px 5px;
}

.info input {
    width:100%;
}

ul#filters {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    max-width: 100%;
}

ul#filters input{
    border: none !important;
    outline: none !important;
    background-color: #EEE;
    border-radius: 3px;
    font-size: 0.95em;
}

ul#filters input:focus{
    border: none !important;
    outline: none !important;
}


ul#filters li{
    position: relative;
    padding: 5px 0px;
    padding-left: 8%;
    padding-right: 5px;
    border-bottom: 1px solid #DDD; 
}
ul#filters li>*{
    margin: 0px;
    display: inline-block;
    width: 100%;
}

ul#filters li div.filterHandle {
/*    display: inline-block;*/
/*    float: left;*/
    left: -4%;
    position: absolute;
    width: 4%;
    top: 2.5%;
    height: 95%;
    background-color: #EEE;
    cursor: pointer;
    cursor: hand;
    border-radius: 0px 5px 5px 0px;
    border-radius: 5px 0px 0px 5px;
}

ul#filters li div.filterHandle:hover{
    background-color: #DDD;
/*
    width: 7%;
    left: -7%;
*/
}

ul#filters li .selectionBox{
    position: relative;
    height: auto;   
    min-height: 50px;
    margin: 5px 0px;
    margin-top: 50px;
    width: 100%;
    max-width: 200px;
/*    border: 1px solid red;*/
    padding: 5px;
    background-color: #EEE;
    border-radius: 5px;
}

ul#filters li .selectionBox>span{
    background-color: #0AF;
    color: white;
    border-radius: 5px;
    margin: 2px 2px;
    padding: 0px 5px;
    display: inline-block;
}

#filters .selectionBox>span>span{
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    cursor: hand;
    margin: 2px;
}

#filters .selectionBox>span>span:hover{
    color: #555;
    
}

ul#filters li .autocompleteContainer {
    width: 90%;
    height: 50px;
    position: absolute;
    overflow-x: hidden;
/*    border: 1px solid red;*/
    margin: 0px;
    padding: 0px;  
}

ul#filters li .autocompleteContainer * {
/*    display: inline-block;*/
/*    float: left;*/
/*    position: absolute;*/
    margin: 0px;
    padding: 0px;
}

ul#filters li #amount>span {
    color: #0AF;
    font-size: 0.9em;
    margin-left: 5px;
}
