
@font-face{
    font-family:"Sansation";
    src: url("fonts/Sansation_Regular.ttf");
}
@font-face{
    font-family:"Sansation light";
    src: url("fonts/Sansation_Light.ttf");
}
@font-face{
    font-family:"Sansation bold";
    src: url("fonts/Sansation_Bold.ttf");
}

@font-face{
    font-family:"Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face{
    font-family:"Open Sans Light";
    src: url("fonts/OpenSans-Light.ttf");
}
@font-face{
    font-family:"Open Sans Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

*{
/*    outline:1px solid red;*/
    font-family:"Open Sans";
    -webkit-transition:0.2s;
    -webkit-font-smoothing:antialiased;
}

/*Rules for header*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    display: table;
}

body>div{
    display: table-row;
}


body>#content {
    height: 100%;
    background: -webkit-linear-gradient(#2a2a2a,#232323);
    text-align: center;
    position: relative;
}

body>#content>#cell {
    height: 100%;
/*    vertical-align: middle;*/
    display: table-cell;
    text-align: center;
}

body>#footer {
    height: 75px;
/*    background:-webkit-linear-gradient(#3877ca,#2057b6);*/
    background-color: #3877ca;
}

body #content #title {
    position: absolute;
    z-index: 9;
    background-color: #2a2a2a;
    cursor: pointer;
    font-size:1.5em;
    color:white;
    font-family: "Sansation";
/*    display:table-cell;*/
    vertical-align:middle;
    text-align: center;
    height:60px;
    width: 100%;
/*    padding:0px 0px 0px 30px;*/
    text-shadow:0px 0px 4px black;
    -webkit-user-select: none;
/*    padding-left: 20px;*/
    line-height: 60px;
/*    box-shadow: 0 5px 5px -4px black;*/
    box-shadow: 0px 0px 4px black;
}



.customTextBox{
    background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.05);
    border-right: 1px solid rgba(255,255,255,0.05);
    color: white;
    font-size: 0.9em;
    padding: 1px 8px !important;
}


#notificationBG {
    -webkit-user-select:none;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999999;
}


#notificationBG>div#window{
    background-color: #BBB;
/*    background-color: #2057b6;*/
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    height: auto;
    min-height: 110px;
    min-width: 250px;
    max-width: 400px;
    width: auto;
    left: 50%;
    top:50%;
    position: absolute;

    display: table;
    overflow: hidden;
}

#notificationBG>div#window>#title{
    display: table-row;
    background:-webkit-linear-gradient(#EEE,#BBB);
    padding: 5px;
    text-indent: 5px;
    font-size: 1.1em;
}

#notificationBG>div#window>#content{
    display: table-row;
    overflow-y: scroll;
    text-align: center;
}

#notificationBG>div#window>#content #spacer{
    padding: 20px;
    padding-top:15px;
}

#notificationBG>div#window>#content #message{
    margin: 5px;
    text-align: center;
    vertical-align: center;
}

#notificationBG>div#window>#content .button{
/*    background:-webkit-linear-gradient(#3877ca,#2057b6);*/
    background-color: #2057b6;
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    min-width: 50px;
    border-radius: 5px;
    color: white;
    margin: 2px;
    cursor: pointer;
    cursor: hand;
    -webkit-user-select:none;
}

#notificationBG>div#window>#content .button:hover{
    background-color: #3877ca;
    color: black;
}


body>#content #form {
/*    width: 50%;*/
    margin: 0px 20%;
    height: 100%;
/*    border: 1px solid red;*/
/*    box-shadow: 0px 0px 4px black;*/
    overflow-y: scroll;
}
body>#content #form>#overflow {
    height: auto;
    padding-top: 100px;
    color: white;
}

body>#content #form>#overflow table {
    
    width: 100%;
    text-align: left;
    border-spacing: 0px;
    border-collapse:collapse;
}

body>#content #form>#overflow table .spacer td{
    border: 1px solid transparent;
}

body>#content #form>#overflow table .sectionTitle td{
    border-radius: 10px 10px 0px 0px;
    background-color: #535353;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-indent: 5px;
}

body>#content #form>#overflow table td{
    border: 1px solid #464646;
    margin: 10px !important;
    box-sizing: content-box;
    padding: 5px;
    
}

.fieldname {
    color: #4092fd;
    font-size: 0.8em;
}

/*input[type="text"] {*/
input[type="radio"]
{
    
}

input[type="date"]
{
    width: 100px;
    max-width: 120px;
    font-size: 0.7em;
}

input {
    font-size: 1em;
    color: white;
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    background: none !important;
    border: 1px solid gray;
    border-radius: 3px;
}

input:hover {
    border: 1px solid white;
}


input:focus {
    outline: none !important;
    border: 1px solid #3877ca;
}

.inliner{
    display: block;
}

.inliner>*{
    display: inline-block;
    width: 15%;
    white-space: nowrap;
}

.tablizer {
    display: table;
    width: 100%;
}

.tablizer>*{
    width: 100%;
}

.tablizer>*:nth-child(1){
    width:1%;
    white-space:nowrap;
}

.tablizer>*:nth-child(2){
    width: 100%;
}

.tablizer>*{
    display: table-cell;
}
