<div id = "employmentHistory">
    <span class="label">Company</span><input id = "company" value = "" type="text" disabled><br>
    <span class="label">JobTitle</span><input id = "jobTitle" value = "" type="text" disabled><br>
    <br>
    <span class="label">Phone</span><input id = "phone" value = "" type="text" disabled><br>
    <span class="label">Address</span><input id = "address" value = "" type="text" disabled><br>
    <span class="label">Supervisor</span><input id = "supervisor" value = "" type="text" disabled><br>
    <br>
    <span class="label">Starting Salary $</span><input id = "startingSalary" value = "" type="text" disabled><br>
    <span class="label">Ending Salary $</span><input id = "endingSalary" value = "" type="text" disabled><br>
    <br>
    <span class="label">Responsibilities</span><input id = "responsibilities" value = "" type="text" disabled><br>
    <span class="label">Reason For Leaving</span><input id = "reasonForLeaving" value = "" type="text" disabled><br>
    <hr>
</div>