<span class="label">Overview</span><textarea id = "overview" value = "" type="text" disabled></textarea><br>
<span class="label">Gender</span><input id = "gender" value = "" type="text" disabled><br>
<span class="label">Age</span><input id = "age" value = "" type="text" disabled><br>
<span class="label">Birthday</span><input id = "birthday" value = "" type="text" disabled><br>
<span class="label">Skills</span><input id = "skills" value = "" type="text" disabled><br>
<span class="label">Desired Salary</span><input id = "desiredSalary" value = "" type="text" disabled>
