
<span class="label"> Phone:</span> <input id = "contactNumber" type="text" value="(639) 9906 8252" disabled>

<br><br>
<div>Address:</div>
<br>
<span class="label">Apartment/Unit #</span><input id = "appartmentUnitNumber" value = "" type="text" disabled>
<span class="label">Street Address</span><input id = "streetAddress" value = "" type="text" disabled>
<span class="label">City, Province</span><input id = "city" value = "" type="text" disabled>
<span class="label">State/Country</span><input id = "country" value = "" type="text" disabled>
<span class="label">ZIP</span><input id = "ZIP" value = "" type="text" disabled>

<!--<div id = "AddressList"> <textarea disabled>305 Magnolia St. Laureola subd. Brgy. San Jose Calamba City, Laguna</textarea> </div>-->
