<div class = "disc">Gender:</div><div class = "info"><input type="text" value="Male" disabled></div> 
<div class = "disc">Birthday:</div><div class = "info"><input type="text" value="August 7, 1994" disabled ></div> 
<div class = "disc">Status:</div><div class = "info"><input type="text" value="Single" disabled></div> 
<div class = "disc">Father:</div><div class = "info"><input type="text" value="Juan dela Cruz" disabled></div> 
<div class = "disc">Mother:</div><div class = "info"><input type="text" value="Juana dela Cruz" disabled></div> 
<div class = "disc">Sibblings:</div><div class = "info"><input type="text" value="4" disabled></div> 
<div class = "disc">Home Town:</div><div class = "info"><input type="text" value="Calamba" disabled></div> 
<div class = "disc">Current City:</div><div class = "info"><input type="text" value="Calamba" disabled></div> 
<div class = "disc">Hobbies:</div><div class = "info"><input type="text" value="Programming" disabled></div> 